.footer {
    padding: 10px;
    bottom: 0;
    width: 100%;
    height: 5%;
    color: white;
    position: fixed;
}

.info-top {
    padding-top: 25%;
    font-size: 20px;
    }
    
.info {
    font-size: 20px;
    }
    
.mainGraph {
    width:100%;
    }
    
.aloneGraph {
    width: 100%;
    }